.mi-budget-badges {
	padding: 1em;
	text-align: center;
}



.mi-budget-badges .badge {
	display: inline-block;
	margin: 1em;
	text-align: center;
}




.mi-budget-badges .badge img {
	max-height: 8em;
}


























